---
import Button from '../../components/ui/Button.astro';
import ConfigLayout from '../../layouts/ConfigLayout.astro';

const status = Astro.url.searchParams.get('status');
---

<ConfigLayout>
  {
    !status && (
      <>
        <img class="w-12" src="/images/crying-cat.svg" alt="Crying Cat Emoji" />
        <h1 id="title" class="text-xl font-semibold mb-4">
          Oh no, we are so sorry you're leaving...
        </h1>
        <form
          method="POST"
          action="/api/request-delete"
          class="flex flex-col gap-6"
        >
          <label for="email">Enter your email to delete your account:</label>
          <div class="flex flex-col gap-4">
            <input
              type="email"
              name="email"
              required
              class="border-2 border-brown p-2 rounded-full px-4"
              placeholder="you@example.com"
            />
            <Button type="submit">Delete My Account</Button>
          </div>
        </form>
      </>
    )
  }

  {
    status === 'success' && (
      <div class="flex flex-col gap-4">
        <span class="text-4xl">✅</span>
        <p class="font-semibold text-2xl">Email sent successfully</p>
        <p>
          We've sent you an email with a confirmation link. Please check your
          inbox — it may take a few minutes to arrive. Once you receive it,
          click the link to confirm your account deletion.
        </p>
      </div>
    )
  }

  {
    status === 'error' && (
      <div class="flex flex-col items-center gap-4">
        <span class="text-4xl">❌</span>
        <p class="font-semibold text-2xl">Uh Oh... Something went wrong</p>
        <p>There was an error sending your request. Please try again later.</p>
        <a
          href="/delete-account"
          type="submit"
          class="bg-brown text-white px-4 py-2 rounded-full w-fit hover:opacity-70 cursor-pointer"
        >
          Try again
        </a>
      </div>
    )
  }
</ConfigLayout>
