---
import TabContentLayout from "../../layouts/TabContentLayout.astro";
---

<TabContentLayout id="content-demo">
    <h1 class="text-5xl">Watch a Demo</h1>
    <p class="text-xl">See how it works before starting.</p>
</TabContentLayout>