---
import TabContentLayout from "../../layouts/TabContentLayout.astro";
import DownloadButton from "../ui/DownloadButton.astro";
---

<TabContentLayout id="content-download" active>
    <h1 class="text-5xl leading-18">Keep track of your habits and build the tallest house</h1>
    <p class="text-xl leading-10">Complete daily habits, maintain your streaks, and help a little cat named Nissu build a tall cozy home for each habit – one floor at a time. </p>
    <DownloadButton />
</TabContentLayout>