---
import TabContentLayout from "../../layouts/TabContentLayout.astro";
import DownloadButton from "../ui/DownloadButton.astro";
---

<TabContentLayout id="content-download" active>
    <h1 class="text-center text-2xl sm:text-3xl sm:leading-10 md:text-big md:leading-16 lg:text-left">Keep track of your habits and build the tallest house</h1>
    <p class="text-center sm:text-lg md:text-xl sm:leading-8 md:leading-9 lg:text-left">Complete daily habits, maintain your streaks, and help a little cat named Nissu build a tall cozy home for each habit – one floor at a time. </p>
    <div class="mx-auto lg:m-0">
        <DownloadButton />
    </div>
</TabContentLayout>