---
import TabContentLayout from "../../layouts/TabContentLayout.astro";
import DownloadButton from "../ui/DownloadButton.astro";
---

<TabContentLayout id="content-download" active>
    <h1 class="text-center text-2xl font-semibold sm:text-3xl sm:leading-10 md:font-normal md:text-5xl md:leading-18 lg:text-left">Keep track of your habits and build the tallest house</h1>
    <p class="text-center sm:text-lg md:text-xl sm:leading-8 md:leading-10 lg:text-left">Complete daily habits, maintain your streaks, and help a little cat named Nissu build a tall cozy home for each habit – one floor at a time. </p>
    <div class="mx-auto lg:m-0">
        <DownloadButton />
    </div>
</TabContentLayout>