---
import AccordionIsland from "../../islands/AccordionIsland";
import TabContentLayout from "../../layouts/TabContentLayout.astro";

const items = [
  {
    title: "Is the app free?",
    content: "Yes! The app is completely free to use — no subscriptions or hidden fees.",
  },
  {
    title: "Is the app available on the App Store?",
    content: "Not yet — but we’re working hard to bring it to the App Store soon!",
  },
  {
    title: "Can I delete my account?",
    content: `You can delete your account <a class='underline' href='https://nissu.app/delete-account'>clicking here</a>.`,
  },
  {
    title: "What happens if I miss a day?",
    content: "Your streak breaks and your house collapses. But cookies can help you protect it!",
  },
];
---

<TabContentLayout id="content-faqs">
    <AccordionIsland items={items} client:load />
</TabContentLayout>