---
import TabContentLayout from "../../layouts/TabContentLayout.astro";
---

<TabContentLayout id="content-faqs">
    <h1 class="text-5xl">FAQs</h1>
    <p class="text-xl">Common questions answered.</p>
</TabContentLayout>