---
import LinkButton from '../../../components/ui/LinkButton.astro';
import ConfigLayout from '../../../layouts/ConfigLayout.astro';

const status = Astro.url.searchParams.get('status');
---

<ConfigLayout>
  {
    status === 'success' ? (
      <div class="flex flex-col gap-4">
        <span class="text-4xl">👋</span>
        <p class="font-semibold text-2xl">Goodbye! </p>
        <p>
          Your account has been deleted successfully. Hope we'll see you anytime
          soon.
        </p>
      </div>
    ) : (
      <div class="flex flex-col items-center gap-4">
        <span class="text-4xl">❌</span>
        <p class="font-semibold text-2xl">Uh Oh... Something went wrong</p>
        <p>The deletion link may be invalid or expired. Please try again.</p>

        <LinkButton href="/delete-account">Try again</LinkButton>
      </div>
    )
  }
</ConfigLayout>
