---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="h-[70vh] lg:h-full flex items-center justify-center">
    <div
      id="verifyBox"
      class="w-[50rem] flex flex-col items-center justify-center gap-4 border border-brown rounded-lg border-2 px-12 py-17 m-8 text-center"
    >
      <div id="emojiBox" class="text-4xl">
      </div>
      <h1 id="title" class="text-xl font-semibold">Loading...</h1>
      <p id="description">Please wait...</p>
      <a
        class="bg-brown py-2 px-4 font-semibold text-beige rounded-full mt-5"
        href="/"
      >
        Go back
      </a>
    </div>
  </div>

  <script>
    const params = new URLSearchParams(window.location.search);
    const success = params.get("success") === "true";

    const emojiBox = document.getElementById("emojiBox");
    const title = document.getElementById("title");
    const description = document.getElementById("description");

    emojiBox!.innerHTML = success
      ? '<img class="w-8" src="/images/happy-cat.svg" alt="Happy Cat" />'
      : '<img class="w-8" src="/images/scared-cat.svg" alt="Scared Cat" />';

    title!.textContent = success ? "Account verified!" : "Uh oh... Verification failed";
    description!.textContent = success
      ? "Your Nissu account is now verified. You can now return to the app and login."
      : "Something went wrong verifying your account. Please try again or request a new verification email from the app.";
  </script>
</Layout>
