---
import Cat from "../components/Cat.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="h-[70vh] lg:h-full flex items-center justify-center"> 
        <div class="flex flex-col items-center justify-center gap-4 border border-brown rounded-lg border-2 px-12 py-17 m-8 text-center">
            <p class="text-4xl">🎉</p>
            <h1 class="text-xl font-semibold">Account verified!</h1>
            <p>Your Nissu account is now verified. You can now return to the app and login.</p>
            <a class="bg-brown py-2 px-4 font-semibold text-beige rounded-full mt-5" href="/">Go back</a>
        </div>
    </div>
</Layout>