---
import Layout from "../layouts/Layout.astro";

const token = Astro.url.searchParams.get("userId");
const secret = Astro.url.searchParams.get("secret");
const expiresAt = Astro.url.searchParams.get("expire");
---

<Layout>
  <div class="h-[80vh] lg:h-full flex items-center justify-center">
    <div
      class="max-w-[40rem] flex flex-col items-center justify-center gap-4 border-brown rounded-lg border-2 px-12 py-17 m-8 text-center"
    >
      <h1 class="text-2xl font-semibold mb-6">Set a New Password</h1>
      {token ? (
        <form method="POST" action="/api/confirm-reset" class="flex flex-col gap-4 w-full">
          <input type="hidden" name="token" value={token} />
          <input type="hidden" name="secret" value={secret} />
          <input type="hidden" name="expiresAt" value={expiresAt} />
          <input
            type="password"
            name="password"
            placeholder="New password"
            class="border-2 border-brown px-4 py-2 rounded-full"
            required
          />
          <input
            type="password"
            name="confirmPassword"
            placeholder="Confirm password"
            class="border-2 border-brown px-4 py-2 rounded-full"
            required
          />
          <button
            type="submit"
            class="bg-brown text-white px-4 py-2 rounded-full hover:opacity-70"
          >
            Change Password
          </button>
        </form>
      ) : (
        <>
        <p>Ups! There was an error: Invalid or missing token</p>
        <a href="/reset-password" class="bg-brown text-white px-4 py-2 rounded-full hover:opacity-70 cursor-pointer">Go back</a href="/reset-password">
        </>
      )}
    </div>
  </div>
</Layout>
