---
import Layout from '../layouts/Layout.astro';
import { Client, Account } from 'node-appwrite';

const { url } = Astro.request;
const searchParams = new URL(url).searchParams;
const userId = searchParams.get('userId');
const secret = searchParams.get('secret');

let status = 'Verifying your email...';

if (userId && secret) {
  try {
    const client = new Client()
      .setEndpoint('https://cloud.appwrite.io/v1')
      .setProject(import.meta.env.APPWRITE_PROJECT_ID)
      .setKey(import.meta.env.APPWRITE_API_KEY);

    const account = new Account(client);
    await account.updateVerification(userId, secret);

    status = '✅ Email verified successfully.';
  } catch (err) {
    status = '❌ There was an error verifying your email.';
  }
} else {
  status = '❌ Invalid link.';
}
---

<Layout>
  <div class="h-[70vh] lg:h-full flex items-center justify-center">
    <div
      class="w-[50rem] flex flex-col items-center justify-center gap-4 border-brown rounded-lg border-2 px-12 py-17 m-8 text-center"
    >
      <div class="text-4xl">🔐</div>
      <h1 id="title" class="text-xl font-semibold">Verifying your email...</h1>
      <p>{status}</p>
      <p>You can close this page and open or restart de app to proceed.</p>
    </div>
  </div>
</Layout>
