---
import Layout from '../layouts/Layout.astro';

const { url } = Astro.request;
const searchParams = new URL(url).searchParams;
const userId = searchParams.get('userId');
const secret = searchParams.get('secret');

const appLink = `nissu://verify-email?userId=${userId}&secret=${secret}`;
const fallbackUrl = `/verify-fallback?userId=${userId}&secret=${secret}`;
---

<Layout>
  <div class="h-[80vh] lg:h-full flex items-center justify-center">
    <div
      class="w-full md:w-[50rem] flex flex-col items-center justify-center gap-4 border-brown rounded-lg border-2 px-12 py-17 m-8 text-center"
    >
      <div class="text-4xl">🔐</div>
      <h1 id="title" class="text-xl font-semibold">Verifying your email...</h1>
      <p>If you have the app installed, it will open automatically.</p>
      <p>If not, you’ll be redirected in a few seconds.</p>
    </div>
  </div>
</Layout>

<script is:inline define:vars={{ appLink, fallbackUrl }}>
  function isMobile() {
    const ua = navigator.userAgent.toLowerCase();
    return /android|iphone|ipad|ipod|windows phone/i.test(ua);
  }

  if (isMobile()) {
    window.location.href = appLink;

    setTimeout(() => {
      window.location.href = fallbackUrl;
    }, 2500);
  } else {
    window.location.href = fallbackUrl;
  }
</script>
