---
const {items} = Astro.props;

interface Props {
    items: AccordionItems[];
}
---

    <div class="flex flex-col gap-4" id="accordion">
        {items.map((item, index) => (
          <div class="border border-2 border-brown rounded-[1vw] overflow-hidden">
            <button
              class="w-full flex justify-between items-center py-4 px-6 text-left text-2xl font-semibold cursor-pointer"
              data-index={index}
            >
                <div class="flex gap-2">
                    <img class="m-2" src="/images/paw-print.svg" alt="Paw print icon" />
                    <span>{item.title}</span>
                </div>
              <img
                class="chevron-icon ml-4 transition-transform duration-200"
                src={item.open ? "/images/chevron-up.svg" : "/images/chevron-down.svg"}
                alt="Chevron icon"
              />
            </button>
            <div class={`transition-all duration-300 px-6 pb-4 text-lg ${item.open ? "block" : "hidden"}`}>
              {item.content}
            </div>
          </div>
        ))}
      </div>

<script type="module">
    import { initAccordion } from "/src/utils/accordion.js";
    initAccordion("accordion");
</script>