<div class="flex items-center justify-center gap-4">
    <p class="w-12 h-12 flex items-center justify-center text-brown border border-brown border-2 p-2 rounded-full">{"<"}</p>
    <img width={280} src="images/app-preview-1.svg" alt="App preview">
    <div class="w-12 h-12 flex items-center justify-center text-brown border border-brown border-2 p-2 rounded-full">{">"}</div>
</div>