---
import Button from "./ui/Button.astro";
---

<div class="flex items-center justify-center lg:justify-end gap-4 w-full">
    <Button>
        {"<"}
    </Button>

    <img class="w-1/2 sm:w-[60%] lg:w-74" src="images/app-preview-1.svg" alt="App preview">

    <Button>
        {">"}
    </Button>
</div>