---
import Button from "./ui/Button.astro";
---

<div class="flex items-center justify-end gap-4 w-full">
    <Button>
        {"<"}
    </Button>

    <img class="w-72" src="images/app-preview-1.svg" alt="App preview">

    <Button>
        {">"}
    </Button>
</div>