<button class="bg-brown rounded-lg text-beige p-4 w-fit flex items-center justify-center gap-4 cursor-pointer">
    <img width={30} src="/images/play.svg" alt="play icon">

    <div class="flex flex-col items-center">
        <p class="uppercase text-sm">Get it on</p>
        <p class="text-3xl px-2">Google Play</p>
    </div>
</button>