---
import DownloadButton from "./DownloadButton.astro";
---

<div class="flex flex-col gap-10 w-[60%]">
    <h1 class="text-6xl leading-18">Keep track of your habits and build the tallest house</h1>
    <p class="text-2xl leading-10">Complete daily habits, maintain your streaks, and help a little cat named Nissu build a tall cozy home for each habit – one floor at a time. </p>
    <DownloadButton />
</div>