---
import AppPreview from "./AppPreview.astro";
import Tabs from "./tabs/Tabs.astro";
---

<div class="flex items-center justify-center h-full overflow-x-hidden">
    <div class="grid grid-cols-1 gap-10 lg:grid-cols-2 px-6 sm:px-10 lg:p-0">
        <Tabs/>
        <AppPreview />
    </div>
</div>