---
import AppPreview from "./AppPreview.astro";
import Tabs from "./tabs/Tabs.astro";
---

<div class="flex items-center justify-center h-full">
    <div class="grid grid-cols-2">
        <Tabs/>
        <AppPreview />
    </div>
</div>