---
import AppPreview from "./AppPreview.astro";
import MainSection from "./MainSection.astro";
---

<div class="mt-10 flex justify-between items-start h-full">
    <MainSection />
    <AppPreview />
</div>