---
import './src/styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Nissu | Keep your habit streaks</title>
	</head>
	<body class="bg-beige mx-40">
		<slot />
	</body>
</html>
