---
import '../styles/global.css'
import '@fontsource/poppins/300.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';import Header from '../components/Header.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Nissu | Keep your habit streaks</title>
	</head>
	<body class="font-poppins font-light bg-beige lg:px-20 xl:px-40 lg:min-h-screen items-center justify-center flex flex-col mb-20">
		<Header />
    	<div class="mt-20 lg:mt-0">
			<slot />
		</div>
	</body>
</html>
